:root {
  --md-primary-fg-color:        #006AF5;
  --md-primary-fg-color--light: #006AF5;
  --md-primary-fg-color--dark:  #006AF5;
}

.md-grid {
  max-width: 80rem  /*Replace Default max width of 61 rem to have more space on bigger screens */
}

.md-typeset h1 {
  margin-bottom: 1.5rem;
}

.md-typeset h2 {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

.md-typeset h3 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.md-typeset h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.md-typeset h5,
.md-typeset h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Standard block image spacing */
.md-typeset img  {
  margin-top: 1rem;
  margin-bottom: 0.75rem;   /* 2rem top/bottom, auto left/right = center */
}

/* Increase the font size for the entries within the first column of the table */
.md-typeset__table tr td:first-child {
  font-size: 0.7rem; /*Default font size for all cells is by default 0.61rem*/
}

.md-typeset__table {
  margin-bottom: 0; /*Default bottom margin for all tables is by default .5em*/
}
